<footer class="footer py-5">

    <div class="container">

        <div class="row">

            <div class="col-lg-6">

                <h4>Tech Glossary Hub</h4>

                <p>
                    Learn • Practice • Grow
                </p>

            </div>

            <div class="col-lg-3">

                <h5>Quick Links</h5>

                <ul class="list-unstyled">

                    <li><a href="{% url 'home' %}">Home</a></li>

                    <li><a href="{% url 'category_list' %}">Categories</a></li>

                    <li><a href="{% url 'glossary_list' %}">Glossary</a></li>

                </ul>

            </div>

            <div class="col-lg-3">

                <h5>Connect</h5>

                <ul class="list-unstyled">

                    <li>
                        <a href="https://portfolio-site-django.onrender.com">
                            Portfolio(Django)
                        </a>
                    </li>

                    <li>
                        <a href="https://github.com/charanepuri">
                            GitHub
                        </a>
                    </li>

                    <li>
                        <a href="https://charan-react-portfolio.vercel.app">
                            Portfolio(React)
                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/charan-teja-972aa9231">
                            LinkedIn
                        </a>
                    </li>

                    <li>
                        <a href="https://charan-flask-portfolio.onrender.com">
                            Portfolio(Flask)
                        </a>
                    </li>

                </ul>

            </div>

        </div>

        <hr>

        <div class="text-center">

            © 2026 Charan Teja Epuri

        </div>

    </div>

</footer>