<footer class="footer py-5">

    <div class="container">

        <!-- Project Header -->

        <div class="text-center mb-5">

            <h2 class="fw-bold display-6 mb-2">
                📘 Tech Glossary Hub
            </h2>

            <p class="text-muted mb-0">
                Learn • Explore • Master Technical Concepts
            </p>

        </div>

        <div class="row gy-5">

            <!-- Left -->

            <div class="col-lg-4">

                <h5 class="fw-bold mb-3 bi bi-info-circle-fill me-2">
                    About
                </h5>

                

                <p class="mb-3">

                    Tech Glossary Hub is a beginner-friendly platform
                    designed to simplify programming concepts through
                    clear definitions, detailed explanations, and
                    practical examples.

                </p>

                <p class="mb-3">

                    © 2026 Built by
                    <strong>Epuri Charan Teja</strong>

                </p>

                <h6 class="fw-bold">
                    Developed Using
                </h6>

                <div class="d-flex flex-wrap gap-2 mt-2">

                    <span class="badge bg-primary">
                        Django
                    </span>

                    <span class="badge bg-success">
                        Python
                    </span>

                    <span class="badge bg-info text-dark">
                        Bootstrap 5
                    </span>

                    <span class="badge bg-secondary">
                        HTML5
                    </span>

                    <span class="badge bg-warning text-dark">
                        CSS3
                    </span>

                    <span class="badge bg-dark">
                        JavaScript
                    </span>

                    <span class="badge bg-danger">
                        SQLite
                    </span>

                </div>

            </div>

            <!-- Middle -->

            <div class="col-lg-4">

                <h5 class="fw-bold mb-3 bi bi-folder-fill me-2">
                    Project
                </h5>

                <ul class="list-unstyled">

                    <li class="bi bi-github me-2">

                        <a style="text-decoration: none;" href="https://github.com/charanepuri/tech-glossary-hub" target="_blank">
                            GitHub Repository
                        </a>

                    </li>

                    <li class="bi bi-file-earmark-text me-2">

                        <a style="text-decoration: none;" href="https://drive.google.com/file/d/1r-Ta72GE2tjw4qrWlLgztVnjFiAabhdE/view?usp=sharing" target="_blank" noopener="">
                            Documentation
                        </a>

                    </li>

                </ul>

            </div>

            <!-- Right -->

            <div class="col-lg-4">

                <h5 class="fw-bold mb-3">
                    Connect
                </h5>


                <ul class="list-unstyled mb-4">

                    <li class="mb-2 bi bi-github me-2">

                        <a style="text-decoration: none;" href="https://github.com/charanepuri" target="_blank">

                            GitHub

                        </a>

                    </li>

                    <li class="bi bi-linkedin me-2">

                        <a style="text-decoration: none;" href="https://www.linkedin.com/in/charan-teja-972aa9231" target="_blank">

                            LinkedIn

                        </a>

                    </li>

                </ul>

                <h5 class="fw-bold mb-3">
                    Explore Portfolios
                </h5>

                <ul class="list-unstyled">

                    <li class="mb-2 bi bi-window-stack me-2">

                        <a style="text-decoration: none;" href="https://portfolio-site-django.onrender.com" target="_blank" >

                            Django Portfolio

                        </a>

                    </li>

                    <li class="mb-2 bi bi-window me-2">

                        <a style="text-decoration: none;" href="https://charan-react-portfolio.vercel.app" target="_blank">

                            React Portfolio

                        </a>

                    </li>

                    <li class="bi bi-window-sidebar me-2">

                        <a style="text-decoration: none;" href="https://flask-developer-dashboard-portfolio.onrender.com/" target="_blank">

                            Flask Portfolio

                        </a>

                    </li>

                </ul>

            </div>

        </div>

        <hr class="my-5">

        <!-- Footer Bottom -->

        <div class="text-center">

            <p class="mb-2">Built with ❤️ using Django, Bootstrap & Python</p>

            <p class="mb-0"> © 2026 Tech Glossary Hub •  Designed & Developed by <strong>Epuri Charan Teja</strong></p>

        </div>

    </div>

</footer>